# Copiare questo file in .env prima dell'avvio.
# I valori seguenti sono esclusivamente dimostrativi e devono essere sostituiti.

COMPOSE_PROJECT_NAME=maritime-zta
TZ=Europe/Rome

# MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=CHANGE_ME_MONGO_ROOT_2026!
MONGO_DATABASE=maritime_zta
MONGO_APP_USER=maritime_api
MONGO_APP_PASSWORD=CHANGE_ME_MONGO_APP_2026!
MONGO_APP_AUTH_DB=maritime_zta
MONGO_HOST=db_primary
MONGO_PORT=27017

# Splunk Enterprise / HEC
SPLUNK_PASSWORD=CHANGE_ME_SPLUNK_ADMIN_2026!
SPLUNK_HEC_TOKEN=00000000-0000-0000-0000-000000000000

# Porte applicative
ENVOY_LISTENER_PORT=8443
ENVOY_ADMIN_PORT=9901
OPA_REST_PORT=8181
OPA_GRPC_PORT=9191
API_PORT=3000
MONGO_PORT_INTERNAL=27017
SPLUNK_WEB_PORT=8000
SPLUNK_HEC_PORT=8088

# Segmentazione di rete
NETWORK_ZTA_SUBNET=172.20.2.0/24
NETWORK_BACKEND_SUBNET=172.20.3.0/24
NETWORK_MONITORING_SUBNET=172.20.4.0/24
NETWORK_CORPORATE_SUBNET=172.20.10.0/24
NETWORK_VPN_SUBNET=172.20.11.0/24
NETWORK_SATELLITE_SUBNET=172.20.12.0/24
NETWORK_PUBLIC_SUBNET=172.20.13.0/24
